.git
.gitignore
node_modules
npm-debug.log
docker-compose.yml
vendor/*
storage/*.key
storage/debugbar
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/logs/**
.env
.env.*
.DS_Store
*.sqlite
*.log
bootstrap/cache/*.php

